{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="jumbotron container"  id="home">
  <div class="row">
    <div class="col-xs-6">
      <img class="img-responsive me center" src="{% static "me.jpg" %}" >
    </div>
      <div class="rrr col">
        <br/><br/><br/><br/><br/>
        <h3 style"font-weight:400;">Control Engineer.</h3>
        <h3>Avid computer programmer.</h3>
        <h3><s>Cyborg</s>.</h3>
        <h3>Human.</h3>
      </div>
</div>
  </div>


  <div class="jumbotron container" id="about">
      <h2>ABOUT ME</h2><hr>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      <hr>
  </div>
<br>


<div id="port" class="jumbotron container">
<h2>PORTFOLIO</h2>
<div class="card flex-md-row mb-4 shadow-sm h-md-250 ">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">MTech Project</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="{% url 'mtech' %}">Climate model based test work bench for daylight-artificial light Integration.</a>
            </h3>

            <p class="card-text mb-auto">This project describes a climate responsive test workbench for the real time testing of luminaire brightness control and window blinds position control in daylight-articial light integrated scheme.</p>
            <a href="{% url 'mtech' %}">Continue reading</a>
          </div>
          <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 250px; height: 250px;" src="{% static "sg.jpg" %}" data-holder-rendered="true">
        </div>

<div class="card flex-md-row mb-4 shadow-sm h-md-250 ">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">MTech Project [Python Implementation.]</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="{% url 'mtech_python' %}">Automatic window shade position control; based on occupant's visual comfort.</a>
            </h3>

            <p class="card-text mb-auto">This work is a web application, based on my MTech Project, developed using Python's <strong>scikit-fuzzy</strong> toolkit.</p>
            <a href="{% url 'mtech_python' %}">Continue reading</a>
          </div>
          <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 250px; height: 250px;" src="{% static "Blind_python.jpg" %}" data-holder-rendered="true">
        </div>
</div>



</div>




<div class="container" id="con">
<div class="jumbotron">
<div class="row" >
<h2>CONTACT</h2>
<fieldset style="margin-right:210px; margin-left:110px; ">
<legend>Contact details</legend>
<label>Email:<br />
<input type="text" name="email" /></label><br />
<label>Mobile:<br />
<input type="text" name="mobile" /></label><br />
<label>Telephone:<br />
<input type="text" name="telephone" /></label>
  <button type = "submit" class = "btn btn-default">Submit</button>
</fieldset>
<br>
<center>
<a href="https://www.linkedin.com/in/manu-varghese-08/" target="_blank"><i style="font-size:34px" class="fa">&#xf08c;</i></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://www.youtube.com/user/manutv08/" target="_blank"><i style="font-size:34px; color:red;" class="fa">&#xf16a;</i></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://github.com/manutv08" target="_blank"><i style="font-size:34px; color:black;" class="fa">&#xf09b;</i></a>
</center>


<br/>
</div>
</div>
</div>
{# <script src="{% static "simplesocial/js/master.js"%}" type="text/javascript" ></script> #}
{% endblock %}
