{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="jumbotron container"  id="home">
  <div class="row">
    <div class="col-xs-6">
      <img class="img-responsive me center" src="{% static "me.jpg" %}" >
    </div>
      <div class="rrr col">
        <br/><br/><br/><br/><br/>
        <h3 style"font-weight:400;">Control Systems Developer.</h3>
        <h3>Avid Programmer.</h3>
        <h3><s>Cyborg</s>.</h3>
        <h3>Human.</h3>
      </div>
</div>
  </div>


  <div class="jumbotron container" id="about">
      <h2>ABOUT ME</h2><hr>
      <p>I'm an Engineer, who likes to think in its true sense. I consider that all the problems in the world are worth solving if it can make somebody's life a little easier and safer. I don't mind opening a tight jar of cookies for someone If it can put a smile upon their face. Neither would I mind working for a technology which can ensure a person's better health and safety in their long run. </p>
      <p>Working in different areas of Engineering has made me more versatile, helped me go beyond my comfort zone and bring out the best in me. It has also made me understand the significance of working as a "Chief cook and Bottle-washer" in an organization, for its stability and successful deployment of projects.</p>
      <p>I  like working on new-age technologies. The field of Artificial Intelligence had always fascinated me. I believe that the idea of giving Knowledge of reasoning for a machine in helping us solve our problems will help mankind in its future endeavours. This interested me in working towards a fuzzy based project for my Master's degree Thesis work.
        The work was based on daylight harvesting (Please check out my portfolio section). I'm still getting my path through understanding  KR<sup>2</sup>, Deep Learning, Bayes model... in reaching my goal of developing efficient, optimized control algorithms for a better living in this world for everyone.  </p>
      <hr>
  </div>
<br>


<div id="port" class="jumbotron container">
<h2>PORTFOLIO</h2>
<div class="card flex-md-row mb-4 shadow-sm h-md-250 ">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">MTech Project</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="{% url 'mtech' %}">Climate model based test work bench for daylight-artificial light Integration.</a>
            </h3>

            <p class="card-text mb-auto">This project describes a climate responsive test workbench for the real time testing of luminaire brightness control and window blinds position control in daylight-articial light integrated scheme.</p>
            <a href="{% url 'mtech' %}">Continue reading</a>
          </div>
          <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 250px; height: 250px;" src="{% static "sg.jpg" %}" data-holder-rendered="true">
        </div>

<div class="card flex-md-row mb-4 shadow-sm h-md-250 ">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">MTech Project [Python Implementation.]</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="{% url 'mtech_python' %}">Automatic window shade position control; based on occupant's visual comfort.</a>
            </h3>

            <p class="card-text mb-auto">This work is a web application, based on my MTech Project, developed using Python's <strong>scikit-fuzzy</strong> toolkit.</p>
            <a href="{% url 'mtech_python' %}">Continue reading</a>
          </div>
          <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 250px; height: 250px;" src="{% static "Blind_python.jpg" %}" data-holder-rendered="true">
        </div>
</div>



</div>




<div class="container" id="con">
<div class="jumbotron">
<div class="row" >
<h2>CONTACT</h2>
<fieldset style="margin-right:210px; margin-left:150px; ">
<legend>Contact details</legend>
<label>Email: <u> manutv08@gmail.com</u></a><br />

</fieldset>
<br>
<center>
<a href="https://www.linkedin.com/in/manu-varghese-08/" target="_blank"><i style="font-size:34px" class="fa">&#xf08c;</i></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://www.youtube.com/user/manutv08/" target="_blank"><i style="font-size:34px; color:red;" class="fa">&#xf16a;</i></a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://github.com/manutv08" target="_blank"><i style="font-size:34px; color:black;" class="fa">&#xf09b;</i></a>
</center>


<br/>
</div>
</div>
</div>
{# <script src="{% static "simplesocial/js/master.js"%}" type="text/javascript" ></script> #}
{% endblock %}
